<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Magehit_Core::core">
					<resource id="Magehit_Storepickup::manage" sortOrder="5" title="Manage Store Pickup" />
				</resource>
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Magehit_Storepickup::config_magehit_storepickup" title="carriers"/>
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
