<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<carriers>
			<storepickup>
				<model>Magehit\Storepickup\Model\Carrier\Storepickup</model>
				<active>0</active>
				<title>Storepickup</title>
				<name>Storepickup</name>
				<price>0.00</price>
				<specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
				<sallowspecific>0</sallowspecific>
			</storepickup>
		</carriers>
	</default>
</config>
