<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magehit\Storepickup\Api\StorepickupRepositoryInterface" type="Magehit\Storepickup\Model\StorepickupRepository"/>
	<preference for="Magehit\Storepickup\Api\Data\StorepickupInterface" type="Magehit\Storepickup\Model\Storepickup"/>
	<preference for="Magehit\Storepickup\Api\Data\StorepickupSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Magehit\Storepickup\Model\ResourceModel\Storepickup\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">magehit_storepickup_storepickup</argument>
			<argument name="resourceModel" xsi:type="string">Magehit\Storepickup\Model\ResourceModel\Storepickup\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="magehit_storepickup_storepickup_grid_data_source" xsi:type="string">Magehit\Storepickup\Model\ResourceModel\Storepickup\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<!-- <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="save-in-quote"
                type="Magehit\Storepickup\Model\Plugin\Checkout\ShippingInformationManagementPlugin" sortOrder="9999"/>
    </type> -->
    <type name="Magento\Quote\Model\Cart\ShippingMethodConverter">
        <plugin name="add_storepickup_data" type="Magehit\Storepickup\Plugin\Carrier\StorepickupData" disabled="false" sortOrder="30"/>
    </type>
    <preference for="Magento\Framework\Serialize\Serializer\Json" type="Magehit\Storepickup\Serialize\Serializer\Json" />
<!-- 	<type name="Magento\Checkout\Block\Onepage">
        <arguments>
            <argument name="layoutProcessors" xsi:type="array">
                <item name="storepickup_data" xsi:type="object">Magehit\Storepickup\Model\Plugin\Checkout\LayoutProcessor</item>
            </argument>
        </arguments>
	</type> -->
<!-- 	<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
		    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
		        <plugin name="add_custom_field_checkout_form" type="Magehit\Storepickup\Model\Plugin\Checkout\LayoutProcessor" sortOrder="100"/>
		    </type>
	</config> -->
	<preference for="Magento\Quote\Model\Quote\Address" type="Magehit\Storepickup\Model\Quote\Address" />
</config>
