<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<mxyoutuber_config>
			<general>
                <version backend_model="Maxiolab\Youtuber\Model\Config\Version" />
			</general>
			<advanced>
				<cache_lifetime>3600</cache_lifetime>
			</advanced>
		</mxyoutuber_config>
	</default>
</config>