
.github/
DB/*
Manuals/
!/app/*
bin/
dev/
generated/

!/images/*
/images/videos/*
zohoverify/
instashow/
lib/
phpserver/
pub/errors/
pub/opt/
pub/media/*
!pub/media/wysiwyg/*
pub/static/
setup/
update/
us/
var/
vendor/
!/images/
