<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		
		<add id="Magehit_Storepickup::storepickup_manage" title="Store Pickup" module="Magehit_Storepickup" sortOrder="90" parent="Magehit_Core::view" resource="Magehit_Storepickup::manage"/>
		<add action="magehit_storepickup/storepickup/index" id="Magehit_Storepickup::storepickup_index" module="Magehit_Storepickup" parent="Magehit_Storepickup::storepickup_manage" resource="Magehit_Storepickup::storepickup_index" sortOrder="10" title="Manage Store Pickup"/>

		<add action="adminhtml/system_config/edit/section/carriers" id="Magehit_Storepickup::storepickup_settings" module="Magehit_Storepickup" parent="Magehit_Storepickup::storepickup_manage" resource="Magehit_Storepickup::storepickup_settings" sortOrder="20" title="Configuration"/>
	</menu>
</config>
