/*
 *	Default Style Sheet for CSS3 Showcase
 *	Created By Mahesh Wickramasinghe
 *	maheshwicks89@gmail.com
 *
 */


 /************ CSS Reset *****************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
.image-showcase-holder h1,.image-showcase-holder h2,.image-showcase-holder h3,.image-showcase-holder h4,.image-showcase-holder h5,.image-showcase-holder h6,.image-showcase-holder {border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}
.image-showcase-holder article,.image-showcase-holder aside,.image-showcase-holder details,.image-showcase-holder figcaption,.image-showcase-holder figure,.image-showcase-holder footer,.image-showcase-holder header,.image-showcase-holder hgroup,.image-showcase-holder menu,.image-showcase-holder nav,.image-showcase-holder section{display:block}
.image-showcase-holder ol,.image-showcase-holder ul{list-style:none}
.image-showcase-holder blockquote,.image-showcase-holder q{quotes:none}
.image-showcase-holder blockquote:before,.image-showcase-holder blockquote:after,q:before,q:after{content:none}
.image-showcase-holder table{border-collapse:collapse;border-spacing:0}


 /************ Impoering Google Fonts *****************/

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 300;
  src: local('Oxygen Light'), local('Oxygen-Light'), url(http://themes.googleusercontent.com/static/fonts/oxygen/v2/AwBqWF2kjhlybWamaKMPcT8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

/****************************** Start Page Styles ******************************/


div.image-showcase-holder {
	position: relative;
	height: auto;
	width: 100%;
}

div.image-showcase-holder a:link, div.image-showcase-holder a:visited {
	color: inherit;
	text-decoration: none;
}

div.image-showcase-holder a:visited {
	color: inherit;
}


div.image-showcase-holder div[class^="bg-style-"] {
	height: 34px;
	width: 34px;
	position: absolute;
	cursor: pointer;
	background-size: 30px 30px;
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.bg-style-one {background-image: url('/images/css/showcase/images/main/8.png');}
.bg-style-two {background-image: url('/images/css/showcase/images/main/2.gif');}
.bg-style-three {background-image: url('/images/css/showcase/images/main/3.gif');}
.bg-style-four {background-image: url('/images/css/showcase/images/main/4.gif');}
.bg-style-five {background-image: url('/images/css/showcase/images/main/5.gif');}
.bg-style-six {background-image: url('/images/css/showcase/images/main/4.gif');}

div.image-showcase-holder div[class^="bg-style-"]:hover {
	background-size: 35px 35px;
}

div[class^="bg-style-"] > div.showcase-title {
	position: relative;
	width: 0;
	height: 40px;
	cursor: default;
	overflow: hidden;
	text-align: center;
	/* fallback */
	background-color: #3a3a3a;
	/* Safari 4-5, Chrome 1-9 */
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3a3a3a), to(#1a1a1a));
	/* Safari 5.1, Chrome 10+ */
	background: -webkit-linear-gradient(top, #3a3a3a, #1a1a1a);
	/* Firefox 3.6+ */
	background: -moz-linear-gradient(top, #3a3a3a, #1a1a1a);
	/* IE 10 */
	background: -ms-linear-gradient(top, #3a3a3a, #1a1a1a);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #3a3a3a, #1a1a1a);
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

.showcase-title h1,
.showcase-title h2,
.showcase-title h3,
.showcase-title h4,
.showcase-title h5,
.showcase-title h6 {
	font-family: 'Oxygen', sans-serif;
	font-weight: 300;
	color: #2399ff;	/* Change the color of the titles */
	text-align: center;
	text-shadow: 0 1px rgba(0,0,0,0.5);
	line-height: 40px;
	font-size: 16px;
	opacity: 0;
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}



div.showcase-description {
	background: #3a3a3a;
	overflow: hidden;
	cursor: default;
	height: 0;
	position: relative;
	border-top: 1px solid #151515;
	box-shadow: 0 2px 2px 0 #282828 inset;
	padding: 15px;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	-ms-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}

div.showcase-description p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #999 !important;
	text-shadow: 0 0 1px 1px #050505;
	line-height: 170%;
	font-size: 13px !important;
	text-align: center;
}

div.showcase-description p a {
	font-size: 13px !important;
	-webkit-transition: all .15s ease-in-out;
	-moz-transition: all .15s ease-in-out;
	-o-transition: all .15s ease-in-out;
	-ms-transition: all .15s ease-in-out;
	transition: all .15s ease-in-out;
}

div.showcase-description img.align-left {
  float: left;
}

div.showcase-description img.align-right {
  float: right;
}

div.showcase-description:hover p a {
	color: #2399ff;	/* Change this value to change the highlight color of the description */
}

div.popout-to-right div.showcase-title {
	left: 35px;
	top: -3px;
}

div.popout-to-left div.showcase-title {
	left: -1px;
	top: -3px;
}

div.popout-to-bottom div.showcase-title {
	left: 16px;
	top: 34px;
}

div.popout-to-top div.showcase-title {
	left: 16px;
	top: -41px;
}

div.popout-to-right:hover > div.showcase-title {
	width: 270px;
}

div.popout-to-left:hover > div.showcase-title {
	width: 270px;
	left: -271px;
}

div.popout-to-bottom:hover > div.showcase-title {
	width: 270px;
	left: -119px;
}

div.popout-to-top:hover > div.showcase-title {
	width: 270px;
	left: -119px;
}


div[class^="bg-style-"]:hover > div.showcase-title h1,
div[class^="bg-style-"]:hover > div.showcase-title h2,
div[class^="bg-style-"]:hover > div.showcase-title h3,
div[class^="bg-style-"]:hover > div.showcase-title h4,
div[class^="bg-style-"]:hover > div.showcase-title h5,
div[class^="bg-style-"]:hover > div.showcase-title h6 {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
	opacity: 1;
}

div[class^="bg-style-"]:hover > div.showcase-title:hover {
	/* height: 160px; */	/* Change this value to change the hieght of the description box */
}

div[class^="bg-style-"]:hover > div.showcase-title {
	height: 160px; 	/* Change this value to change the hieght of the description box */
}

div[class^="bg-style-"]:hover > div.showcase-title div.showcase-description {
	height: 120px;	/* Change this to the above value - 40 in order to keep things smooth */
}

div[class^="bg-style-"]:hover > div.showcase-title:hover div.showcase-description {
	height: 120px;	/* Change this to the above value - 40 in order to keep things smooth */
}


