<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
	<menu>
		<add id="Magehit_Storelocator::storelocator_manager" title="Store Locator" module="Magehit_Storelocator" sortOrder="80" parent="Magehit_Core::view" resource="Magehit_Storelocator::manager"/>
		<add action="magehit_storelocator/storelocator/index" id="Magehit_Storelocator::storelocator_index" module="Magehit_Storelocator" parent="Magehit_Storelocator::storelocator_manager" resource="Magehit_Storelocator::storelocator_index" sortOrder="10" title="Manage Stores"/>
		<add action="magehit_storelocator/photo/index" id="Magehit_Storelocator::photo_index" module="Magehit_Storelocator" parent="Magehit_Storelocator::storelocator_manager" resource="Magehit_Storelocator::photo_index" sortOrder="10" title="Manage Photos"/>

		<add action="adminhtml/system_config/edit/section/store_locator" id="Magehit::magehit_storelocator_settings" module="Magehit_Storelocator" parent="Magehit_Storelocator::storelocator_manager" resource="Magehit_Storelocator::storelocator_setting" sortOrder="20" title="Configuration"/>
	</menu>
</config>
