<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="admin">
		<route frontName="magehit_storelocator" id="magehit_storelocator">
			<module before="Magento_Backend" name="Magehit_Storelocator"/>
		</route>
	</router>
</config>
