<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="magehit" sortOrder="999" translate="label">
			<label>Magehit</label>
		</tab>
		<section id="store_locator" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Store Locator</label>
			<tab>magehit</tab>
			<resource>Magehit_Storelocator::config_magehit_storelocator</resource>
			<group id="general" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>General</label>
				<field id="enable" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enable Store Locator</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
				</field>
				<field id="page_title" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Page Title</label>
					<comment/>
				</field>
				<field id="url" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>URL Identifier</label>
					<comment/>
				</field>
				<field id="suffix" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>URL Suffix</label>
					<comment>(example: .html)</comment>
				</field>
				<field id="enable_top" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Enable Top Link</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>
				<field id="label_link" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Top Link Label</label>
					<comment/>
				</field>
				<!-- <field id="enable_schedule" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Store Schedule</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Enabledisable</source_model>
				</field> -->
				<field id="logo" translate="label" type="image" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Store Thumbnail</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">storelocator</upload_dir>
                    <base_url type="media" scope_info="1">storelocator</base_url>
                    <comment><![CDATA[Allowed file types: jpeg, gif, png.]]></comment>
                </field>
                <field id="cat_id" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="31" translate="label" type="text">
					<label>Category id</label>
				</field>
			</group>
			<group id="map" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Map</label>
				<field id="api_key" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Google Map API key</label>
					<comment/>
				</field>
				
				<field id="center_lat" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Center Point Latitude</label>
					<comment/>
				</field>
				<field id="center_lng" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Center Point Longitude</label>
					<comment/>
				</field>
				<field id="initial_zoom" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Set Map Zoom</label>
					<comment/>
				</field>
				<field id="search_result_zoom" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Set Map Zoom on Searching</label>
					<comment/>
				</field>
				<field id="detail_zoom" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Zoom of Detail Map</label>
					<comment/>
				</field>
			</group>
			<group id="radius" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Radius</label>
				<field id="radius_unit" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label> Radius Unit</label>
					<comment/>
					<source_model>Magehit\Storelocator\Model\Config\Source\Unit</source_model>
				</field>
				<field id="max" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>Maximum Radius For Search</label>
					<comment/>
				</field>
			</group>
			<group id="template_email" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Template Email To Owner Store</label>
				<field id="template" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="select">
					<label>Template Email To Owner Store</label>
					<comment/>
					<source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
				</field>
			</group>
		</section>
	</system>
</config>
