<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="maxiolab" translate="label" sortOrder="10">
            <label>Maxiolab</label>
        </tab>
        <section id="mxyoutuber_config" translate="label" sortOrder="10" type="text" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>YouTubeR Configuration</label>
            <tab>maxiolab</tab>
            <resource>Maxiolab_Youtuber::config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>General</label>
                <field id="version" translate="label" type="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Version Installed</label>
                    <backend_model>Maxiolab\Youtuber\Model\Config\Version</backend_model>
                </field>
                <field id="googleBrowserKey" translate="label comment" type="text" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Google Browser key</label>
                    <comment>How to create Google Browser key you can see in the documentation</comment>
                </field>
			</group>
            <group id="advanced" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
				<label>Advanced configuration</label>
                <field id="cache_lifetime" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Cache lifetime</label>
                    <comment>Cache lifetime in seconds</comment>
                </field>
			</group>
		</section>
	</system>
</config>
