<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Magehit\Storelocator\Api\StorelocatorRepositoryInterface" type="Magehit\Storelocator\Model\StorelocatorRepository"/>
	<preference for="Magehit\Storelocator\Api\Data\StorelocatorInterface" type="Magehit\Storelocator\Model\Storelocator"/>
	<preference for="Magehit\Storelocator\Api\Data\StorelocatorSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Magehit\Storelocator\Model\ResourceModel\Storelocator\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">magehit_storelocator_storelocator</argument>
			<argument name="resourceModel" xsi:type="string">Magehit\Storelocator\Model\ResourceModel\Storelocator\Collection</argument>
		</arguments>
	</virtualType>
	<virtualType name="Magehit\Storelocator\Model\ResourceModel\Photo\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">magehit_storelocator_photo</argument>
			<argument name="resourceModel" xsi:type="string">Magehit\Storelocator\Model\ResourceModel\Photo\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\ImportExport\Controller\Adminhtml\Import\Download">
        <plugin name="Magehit_Storelocator::Import" type="Magehit\Storelocator\Plugin\Import\Download" />
    </type>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="magehit_storelocator_storelocator_grid_data_source" xsi:type="string">Magehit\Storelocator\Model\ResourceModel\Storelocator\Grid\Collection</item>
				<item name="magehit_storelocator_photo_grid_data_source" xsi:type="string">Magehit\Storelocator\Model\ResourceModel\Photo\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<type name="Magento\Catalog\Ui\Component\Listing\Columns\ProductActions">
        <plugin name="prepare_data_source_after" type="Magehit\Storelocator\Ui\Component\Listing\Column\PhotoActions"/>
    </type>
</config>
